%table{:style=>"border=0"}
 %tr
  %td
   =#link_to image_tag('main-cup-of-tea.jpg'), tea_root_path, :id=>'tea_main'
  %td
   =#link_to image_tag('main-cup-of-coffee.jpg'), coffee_root_path, :id=>'coffee_main'
