%p Если  Вы сделали заказ на сумму более 1500 рублей, то мы доставим вам товар бесплатно. 
%p Если вы заказываете товар на сумму от 1000 до 1500 рублей, то доставка вам обойдется всего в 300 рублей. 
%p Обращаем ваше внимание: мы не производим доставку товара, если сумма вашего заказа менее 1000 рублей.
%p Доставка осуществляется в удобное для Вас время и место в рабочие дни с 11 до 21 часа и производится через один рабочий после того, как мы приняли заказ.
%p Расчет происходит в момент получения вами товара, вы оплачиваете наличными нашему курьеру.


