.search {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/images/search_field.gif) no-repeat scroll 0 -22px;
border:medium none;
font-size:12px;
height:16px;
padding:4px 10px 2px 21px;
width:149px;
}

.umenu {
 color:#362f2d;
 font:13px verdana;
 text-decoration: none;
}
/*7d4900*/
a:hover.umenu {
 color:#603913;
 text-decoration: underline;
}

.umenu {
 color:#362f2d;
 font:13px verdana;
 text-decoration: none;
}
a:visited.umenu {
 color:#7d4900;
 text-decoration: none;
}
a:visited:hover.umenu {
 text-decoration: underline;
}
.l1 {
 list-style-image: url('/images/Right.png');
 font: 14px bold verdana;
}

.l2 {
 list-style-image: url('/images/Right.png');
 font: 12px verdana;
}
ul.lmenu {
 padding-left:1em;
 margin-left: 3px;
}

.lmenu a:link {
 color:#362f2d;
 text-decoration: none;
}

.lmenu a:hover {
 color:#603913;
 text-decoration: underline;
}

.lmenu a:visited {
 color:#7d4900;
 text-decoration: none;
}
.lmenu a:visited:hover {
 text-decoration: underline;
}

.content {
 color: #7d4900;
 font: 14px verdana;
}

.content a:link {
 color:#362f2d;
 text-decoration: none;
}

.content a:hover {
 color:#603913;
 text-decoration: underline;
}

.content a:visited {
 color:#7d4900;
 text-decoration: none;
}
.content a:visited:hover {
 text-decoration: underline;
}

