%ul.lmenu{:class=>clazz}
 - root.children.order('position nulls first').each do |child|
  %li= link_to child.title, section_path(child.id)
  - if child.children.count > 0
   = render :partial => 'sections/left_menu_block', :locals => {:root => child, :clazz => clazz.succ}

