.mtop
 .mbottom
  .mleft
   .mright
    .mbl
     .mbr
      .mtl
       .mtr
        .mordoitems{:style=>"width:600px;"}
         %ul
          - @m_items.each_with_index do |mord, i|
           %li.mordoitem{:style=>"display:#{i > 5 ? 'none' : 'inline-block' };"}= link_to image_tag(mord.cover(:mord), :alt=>mord.name, :title=>mord.name), product_path(mord.id)
:javascript
 jQuery('div.mordoitems').jcarousel({
  size:#{@m_items.size}, scroll:1,auto:5, itemFallbackDimension:96
 });
